user:     elia.schito
password: unconventional-password
token:    06c0-campfire-user-token-984f9
company:  mikamai
room:     Developers
name:     elia

mail_user:     elia
mail_password: unconventional-password